extends layout

block content
  h1= title
  p Welcome to #{title}
  p Deepika Alapati
   - var result = bal_results
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Balloon Color: #{item["balloon_color"]}  <br>  Balloon size: #{item["balloon_size"]} <br> Balloon type: #{item["balloon_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
  
  
  

