extends layout

block content
  h1= title
  - let balloon =results
  div(class="container-fluid")
  div(class="row m-1")
   each c in balloon
    - let destination = 'dispatch("/Balloon/update?id=${c._id}")'
    div(class="row-sm-2" class="m-1") #{c.balloon_color}, #{c.balloon_type}, #{c.balloon_size}
      button.btn(class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path)
    {
      window.location.href=path
    }